
<div ddDragDropType1>
  Page 03
  <h4 class="page-heading">{{globalData.pageHeading}}</h4>
  <div class="answers-area">
      <div class="coln-1">
          <p id="card1" class="draggable-item" attr.data-number='{{ answer1 }}'>{{ question1 }}</p>
      </div>
      <div class="coln-2">
          <p id="card2" class="draggable-item" attr.data-number='{{ answer2 }}'>{{ question2 }}</p>
      </div>
      <div class="coln-3">
          <p id="card3" class="draggable-item" attr.data-number='{{ answer3 }}'>{{ question3 }}</p>
      </div>
      <!--<p id="card2" class="draggable-item">{{globalData.CourseContent.question[1].dragText}}</p>
      <p id="card3" class="draggable-item">{{globalData.CourseContent.question[2].dragText}}</p> -->
  </div>
  <div class='bbl-drop'>
      <div class="droppable-item" attr.data-number='Appropriate' ></div>
  </div>
</div>
